<% set_meta_tags :description => t("metas.issues.issue.new") %>
<% set_meta_tags :title => t("metas.issues.issue.new") %>

<% if @issue.errors.any? %>
  <div class="alert notice error">
    Hey, maybe there are some things wrong.
    <% @issue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>

<div class="container new_issue">
  <%= render partial: 'form', locals: {action_name: 'new'} %>
</div>
