<% set_meta_tags :description => t("metas.issues.issue.description", :title => @issue.title) %>
<% set_meta_tags :title => @issue.title %>

<div class="container">

  <%= render 'shared/newcomers_banner' %>

  <div class="issue clearfix">

    <%= render 'show_issue' %>

    <div class="clearfix">
      <%= render 'next_issue' %>
    </div>

  </div><!-- .issue -->

  

</div>