/*
 * Base styles for html pages
 *
 */

html, body {
  height: 100%;
  min-height: 590px;
}

body { 
  font-family: $font-base; 
  font-size: 1em; 
  font-weight: 400; 
  overflow-y: scroll; 
  overflow: hidden; 
}