/*
 * Base styles for structure
 * 
 */

.container {
  margin: auto;
  width: 90%;

  @include screen(740) { 
    width: 100%; 
  }
}

.col-1-2 {
  width: 50%;
  float: left;
}
.col-2-2 {
  width: 50%;
  float: right;
}

