<div class="reason m4">
  <div class="vote btn-vote "><!-- .active -->
    <div class="btn-triangle"></div>
    <%= link_to reason.votes_for.size, '', class: 'cd-signup' %>
  </div>
  <div class="title">
    <h2><%= "#{reason.title} <span>##{reason.public_id}</span>".html_safe %></h2>
  </div>
  <div class="tools">
    N comentario
    N enlaces
  </div>

  <div class="comments">

    comments

  </div>

</div>