<div class="reason">
  <div class="vote btn-vote active">
    <div class="btn-triangle"></div>
    <%= link_to reason.votes_for.size, '' %>
  </div>
  <div class="title">
    <h2><%= link_to reason.title, '' %></h2>
  </div>
  <div class="tools">
    N comentario
    N enlaces
  </div>
</div>