<div class="reasons-counter">
  <strong><%= @issue.reasons.send("#{destination}").count %></strong>
  <%= t("issues.reasons_#{destination}", count:@issue.reasons.send("#{destination}").count) %>
</div>
