/*
 *
 * Form layout
 * -----------
 *
 * Put here any styles applied to form layout.
 *
 */


form, .form {
  margin-bottom: 2em;
}


.form-group {
  @extend %clearfix;
}

.form-label {
  width: 100%;

  &.uppercase {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.form-fields, .field {
  margin: 0 0 1em 0;

  &.solid {
    font-size: 12px;
    line-height: 1.5em;
    padding: 9px 14px;
  }
}
