/* 
 * 1. Core
 * -------
 *
 * Any module relative to app configuration it should be here. This includes the global reset for common ground
 * in all browsers, any custom reset we want to apply, all variables the app uses, sass functions and mixins...
 *
 */

@import "bourbon";

@import "core/settings";
@import "core/functions";
@import "core/mixins";
@import "core/reset";

/* 
 * 2. Base
 * -------
 *
 * All base styles for the app will be under base folder. This includes fonts, regular styles for headings, 
 * paragraphs, lists, links, etc.
 *
 */

@import "base/structure";
@import "base/fonts";
@import "base/base";
@import "base/links";
@import "base/lists";
@import "base/label";

/* 
 * 3. Helpers
 * ----------
 *
 * Utility classes, like to clearfix the floats or align text. This follows the single responsability principle.
 *
 */

@import "helpers/clearfix";
@import "helpers/is-hidden";
@import "helpers/percent";
@import "helpers/font-sizes";
@import "helpers/white-spacing";
@import "helpers/colors";
@import "helpers/layout";

/* 
 * 4. Objects
 * ----------
 *
 * We want reusable modules that they could be applied repeatedly on different pages. This alignes with
 * the DRY principle
 *
 */

@import "objects/form";
@import "objects/form-fields";
@import "objects/buttons";
@import "objects/justify-columns";
@import "objects/content";
@import "objects/modal";

/* 
 * 5. Layout
 * ---------
 *
 * Sometimes it happens you need to overwrite some components' behaviour. This should be an exception, and if you 
 * find yourself overwriting any component twice, we are probably doing wrong.
 *
 */
@import "reasons";

/* 
 * 6. Vendors
 * ----------
 *
 * Any vendor styles, usually linked to jquery plugins or javascripts, should go here.
 *
 */

@import "vendor/tipsy";

/* 

Prefer components over page level styles, for large term maintenability reasons mostly. We want our front end to 
feel like library code. We should start to break files like this into smaller more focused files like 
form.scss, button.scss, tags.scss, dropdown.css, etc.
*/


/* pending to see where we put this */

/*
 * Page elements: header, footer...
 *
 */
body > header /* .main-header */ {
  margin-bottom: 1.5em;
  padding: 1em 2em;
  position: relative;
  background: $header_background;
  @include box-shadow(2px, 2px, 5px, #CCC);
  
  .logo, .tagline {
    font-size: .8em;
    display: inline-block;
    padding-right: 1em;
    color: $header_text;
  }
  .logo {
    a {
      color: $header_text;
      text-decoration: none;
      span {
        font-size: 1.5em;
        font-weight: bold;
        color: $logo;
      }
    }
  }
  
  #controls {
    position: absolute;
    top: .9em;
    right: 2em;
    text-align: right;
    font-size: .85em;

    a {
      @include border-radius(4px);
      display: inline-block;
      padding: 6px 12px 7px;
      background: $layout_soft;
      color: $layout_main;
      // width: 18px;
      overflow: hidden;
      text-align: center;
      margin-left: 10px;
      text-decoration: none;
    }
  }

}

/*
 * Issue page
 *
 */

.issue, .reason { 
  /*border: 1px solid #CCC;*/
}
.issue {
  > header {
    // @include border-radius(8px);
    // background: $color_neutral_background;
    color: $color_neutral_main;


    h1 {
      font-size: 2em;
      margin: 0 0 5px 0;
    }
    .description {
      font-size: .85em;
      width: 85%;
      opacity: .8;
      margin: 0 0 2em 0;
    }
  }
}
.reason {
  position: relative;
  padding-left: 65px;
  margin-top: 30px;
  margin-bottom: 30px;
  h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px 0;
    a {
      text-decoration: none;
      @include transition;
    }
  }
  .vote {
    position: absolute;
    left: 0;
  }
  .tools {
    font-size: .75em;
  }
}
.reasons-for {
  background: $color_for_background;
  @include border-radius($top-left:5px, $bottom-left:8px);
  a {
    color: $color_for_dark;
    &:hover {
      background: darken($color_for_soft, 10%);
    }
  }
  .tools {
    color: lighten($color_for_dark, 30%);
  }
  header {
    text-transform: uppercase;
    color: $color_for_main;
  }
  .add_reason_input {
    .fa {
      color: $color_for_main;
    }
    input[type="text"], textarea {
      color: $color_for_dark;
    }
    textarea {
      border-bottom: 1px solid $color_for_soft;
    }
  }
}
.reasons-against {
  background: $color_against_background;
  @include border-radius($top-right:5px, $bottom-right:8px);
  a {
    color: $color_against_dark;
    &:hover {
      background: darken($color_against_soft, 10%);
    }
  }
  .tools {
    color: lighten($color_against_main, 20%);
  }
  header {
    text-transform: uppercase;
    color: $color_against_main;
  }
  .add_reason_input {
    .fa {
      color: $color_against_main;
    }
    input[type="text"], textarea {
      color: $color_against_dark;
    }
    textarea {
      border-bottom: 1px solid $color_against_soft;
    }
  }
}
.reasons-list header div {
  display: inline-block;
  padding-right: 10px;
}
.add_reason_input {
  .fa {
    width: 48px;
    margin-right: 17px;
    font-size: 1.4em;
    text-align: right; 
    // color: ;
  }
  textarea {
    background: transparent;
    border: none;
    width: 86%;
    padding: 2px 0;
    font-weight: 600;
    box-sizing: border-box;
    max-height: 260px; // optional but recommended
    min-height: 26px;
    height: 26px;
    overflow-x: hidden; // for Firefox (issue #5)
    outline: none;
  }
  @include placeholder {
    font-style: italic;
    font-weight: normal;
    color: ligthen($color_neutral_main, 20%);
    
  }
  .btn {
    display: none;
  }
}

.alert { 
  background: #EBE8CC; 
  padding-top: 1em; 
  padding-bottom: 1em; 
  margin-bottom: 2em; 
  @include border-radius(6px);
}
.success, .info, .warning, .danger { }


// Overwriting image for asset_pipeline -> there is probably a better way
.tipsy .tipsy-arrow { background-image: url(image_path('tipsy.gif')) !important }

