/* 
 * 1. Core
 * -------
 *
 * Any module relative to app configuration it should be here. This includes the global reset for common ground
 * in all browsers, any custom reset we want to apply, all variables the app uses, sass functions and mixins...
 *
 */

@import "bourbon";

@import "core/settings";
@import "core/functions";
@import "core/mixins";
@import "core/reset";

/* 
 * 2. Base
 * -------
 *
 * All base styles for the app will be under base folder. This includes fonts, regular styles for headings, 
 * paragraphs, lists, links, etc.
 *
 */

@import "base/structure";
@import "base/fonts";
@import "base/base";
@import "base/links";
@import "base/lists";
@import "base/label";

/* 
 * 3. Helpers
 * ----------
 *
 * Utility classes, like to clearfix the floats or align text. This follows the single responsability principle.
 *
 */

@import "helpers/clearfix";
@import "helpers/is-hidden";
@import "helpers/percent";
@import "helpers/font-sizes";
@import "helpers/white-spacing";
@import "helpers/colors";
@import "helpers/layout";

/* 
 * 4. Objects
 * ----------
 *
 * We want reusable modules that they could be applied repeatedly on different pages. This alignes with
 * the DRY principle
 *
 */

@import "objects/form";
@import "objects/form-fields";
@import "objects/buttons";
@import "objects/justify-columns";
@import "objects/content";
@import "objects/modal";

/* 
 * 5. Layout
 * ---------
 *
 * Sometimes it happens you need to overwrite some components' behaviour. This should be an exception, and if you 
 * find yourself overwriting any component twice, we are probably doing wrong.
 *
 */
@import "reasons";

/* 
 * 6. Vendors
 * ----------
 *
 * Any vendor styles, usually linked to jquery plugins or javascripts, should go here.
 *
 */

@import "vendor/tipsy";

/* 

Prefer components over page level styles, for large term maintenability reasons mostly. We want our front end to 
feel like library code. We should start to break files like this into smaller more focused files like 
form.scss, button.scss, tags.scss, dropdown.css, etc.
*/


/* pending to see where we put this */

/*
 * Page elements: header, footer...
 *
 */
body > header /* .main-header */ {
  margin-bottom: 1.5em;
  padding: 1em 2em;
  position: relative;
  background: $header_background;
  @include box-shadow(2px, 2px, 5px, #CCC);
  

  .logo, .tagline {
    font-size: .8em;
    display: inline-block;
    padding-right: 1em;
    color: $header_text;
  }
  .logo {
    a {
      color: $header_text;
      text-decoration: none;
      span {
        font-size: 1.5em;
        font-weight: bold;
        color: $logo;
      }
    }
  }
  @include screen(740) {
    padding: 2% 3% 3%;

    .tagline {
      margin-top: 2%;
    }
  }

  #controls {
    position: absolute;
    top: .9em;
    right: 2em;
    text-align: right;
    font-size: .85em;

    a {
      @include border-radius(4px);
      display: inline-block;
      padding: 6px 12px 7px;
      background: $layout_soft;
      color: $layout_main;
      // width: 18px;
      overflow: hidden;
      text-align: center;
      margin-left: 10px;
      text-decoration: none;
      min-height: 17px;
      min-width: 7px;
    }

    @include screen(740) {
      top: 7%;
      right: 0;

      a {
        padding: 3px 12px 4px;
        margin-left: 2px;
      }
    }
  }

}

/*
 * Issue page
 *
 */

.issue, .reason { 
  /*border: 1px solid #CCC;*/
}
.issue {
  > header {
    // @include border-radius(8px);
    // background: $color_neutral_background;
    color: $color_neutral_main;
    position: relative;
    background: $random_color_1;
    padding: 2em 2em .5em 1.8em;
    @include border-radius(6px, 6px, 0, 0);
    
    @include screen(740) { 
      @include border-radius(0);
      padding: 7% 3% 3%;
    }

    h1 {
      font-size: 2em;
      margin: 0 0 5px 0;
      display: inline-block;
      color: #FFF;
      z-index: 2;
      position: relative;
      font-size: 1.8em;
      font-weight: 600;
      @include screen(740) { 
        font-size: 1.2em;
        display: inline;
      }
    }
    .share_container {
      z-index: 2;
      float: right;
      position: relative;
      @include screen(740) {
        display: none;
        paddint-top: 0;
      }
    }
    .share {
      background: #FFF;
      a {
        color: $random_color_1;
      }      
    }
    em {
      position: absolute;
      background: #FF9F0D;
      opacity: .5;
      bottom: 0; 
      height: 4em;
      width: 100%;
      left: 0;
      z-index: 1;
    }
    .description {
      display: none;
      font-size: .85em;
      width: 85%;
      opacity: .8;
      margin: 0 0 2em 0;
    }
    @include screen(740) {      
      .share {
        padding: .3em .5em;
        a span {
          display: none;
        }
        i {
          padding: 0;
        }
        em {
          height: 4.5em;
        }
      }
    }
  }
}

.alert { 
  background: #EBE8CC; 
  padding-top: 1em; 
  padding-bottom: 1em; 
  margin-bottom: 2em; 
  @include border-radius(6px);
}
.success, .info, .warning, .danger { }

footer {
  text-align: center;
  padding: 10em 3em; 
  font-size: .75em;

  a {
    color: $header_text;
    padding: 0 1em;
  }
}

// get access / invites
.new_invite {
  a {
    color: $header_text;
  }
  .fa {
    font-size: 2em; 
    margin: 0 0 0 1em;
  }
}

// home
.home_intro_main {
  background: $layout_super_soft;
  text-align: center;
  color: $header_text;
  margin-top: -2em;
  padding-bottom: 3em; 
  margin-bottom: 4em;

  h1 {
    font-size: 1.6em;
    padding: 4em 0 1em;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
    font-weight: 600;
    span {
      background: $layout_super_soft;
      padding: 0 .5em;
      position: relative;
      z-index: 2;
    }
  }

  .justify-item {
    font-size: 15px;
    text-align: center;
    vertical-align: top;

    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0 0 2em 0;
      padding: 0 1em;
      line-height: 1.4em;
      color: lighten(#2D2D2D, 20%);
    }
  }
  @include screen(740) {
    .percent.thirty {
      width: 100% !important;
    }
  }
}
.start_your_own {
  text-align: center;
  input[type=text] {
    width: 400px;
  }
}

// issues_list
.issues_list {
  vertical-align: top; 
  margin-bottom: 4em;

  .issue {
    @include border-radius(8px);
    font-size: 14px;
    background: #BB6E08;
    padding: 3em 1em 1em 1em;
    position: relative; 
    min-height: 8em;
    margin-bottom: 1em;

    h2 {
      position: absolute;
      z-index: 2;
      top: 4.1em; 
      left: 1em;
      right: 1em;
      text-align: left;
      font-size: 1.4em;
      font-weight: 600;
    }
    a {
      color: #FFF;
      display: block;
      text-decoration: none;
    }
    i {
      position: absolute;
      background: #FF9F0D;
      opacity: .5;
      bottom: 0; 
      height: 6em;
      width: 100%;
      left: 0;
      z-index: 1;
    }
  }
  .issue:nth-child(1) {
    background: $random_color_1;
  }
  .issue:nth-child(2) {
    background: $random_color_2;
  }
  .issue:nth-child(3) {
    background: $random_color_3;
  }
  .issue:nth-child(4) {
    background: $random_color_4;
  }
  .issue:nth-child(5) {
    background: $random_color_5;
  }
  .issue:nth-child(6) {
    background: $random_color_6;
  }

  @include screen(740) {
    .percent.thirty {
      width: 100% !important;
    }
    .issue {
      min-height: 3em;
    }
    .issue h2 {
      top: 1.1em;
    }
  }
}

// various
.note {
  background: lightgoldenrodyellow;
  border: 1px solid #DFDFDF;
  padding: .5em 1em;
  border-radius: 5px;
  margin: 1em 0;
}
.blurry {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10; 
  background: #FFF;
  opacity: .5;
  top: 0;
}
i.back_line {
  border-top: 1px solid #E2C247;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 1;
}
.back_liner {
  color: $header_text;
  position: relative;
  font-size: .85em;
  text-align: center;
  span {
    background: #FFF;
    position: relative;
    padding: 0 .5em; 
    z-index: 2;
  }
  margin-bottom: 2em; 
}
.back_line::before {
  border-top: 1px solid red;
  background: orange;
}

// share buttons
.share_container {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}
.share {
  @include border-radius(4px); 
  display: inline-block;
  margin: 0 0 0 1em;
  padding: .5em 1em;
  font-size: .8em;

  a {
    color: #FFF;
    display: block;
    font-weight: 600;
    text-decoration: none;
    @include transition;
  }
  .fa {
    padding-right: .5em;
  }
}
.facebook {
  background: #306199;
}
.twitter {
  background: #26c4f1;
}

// Overwriting image for asset_pipeline -> there is probably a better way
.tipsy .tipsy-arrow { background-image: url(image_path('tipsy.gif')) !important }

html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}
